In [31]:
import torch
import pandas as pd

In [32]:
df = pd.read_csv('./yolov5n_NY.csv').drop('Unnamed: 0', axis=1)

In [33]:
df

,xcenter,ycenter,width,height,confidence,class,name,frame
0,634.231812,539.518127,231.322754,149.401337,0.720945,7,truck,1
1,55.549187,587.407410,110.246185,70.858398,0.638723,2,car,1
2,1210.552124,511.259338,75.234131,56.818970,0.486155,2,car,1
3,1143.498047,527.495667,53.133057,31.156982,0.386933,2,car,1
4,634.351318,539.554749,231.379272,149.555786,0.724661,7,truck,2
...,...,...,...,...,...,...,...,...
1322,1173.394287,537.067566,82.480225,51.884033,0.729962,2,car,336
1323,55.940292,587.205688,111.089783,70.364136,0.627601,2,car,336
1324,640.285583,539.454651,204.761475,147.534027,0.558341,7,truck,336
1325,1256.900146,514.461426,46.199707,41.461914,0.539699,2,car,336
1326,955.005615,556.002197,175.047607,111.241455,0.372915,7,truck,336

In [36]:
df.loc[df['frame']==1]

,xcenter,ycenter,width,height,confidence,class,name,frame
0,634.231812,539.518127,231.322754,149.401337,0.720945,7,truck,1
1,55.549187,587.407410,110.246185,70.858398,0.638723,2,car,1
2,1210.552124,511.259338,75.234131,56.818970,0.486155,2,car,1
3,1143.498047,527.495667,53.133057,31.156982,0.386933,2,car,1